In [1]:
import pandas as pd
import jdatetime as jt

In [2]:
data_row = pd.read_csv('data/train_Data.csv')

In [3]:
data_row = data_row.drop(columns = ["Invoice", "Description", "Country", "StockCode"])
data_row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488604 entries, 0 to 488603
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Quantity     488604 non-null  int64
 1   UnitPrice    488604 non-null  float64
 2   Customer ID  488604 non-null  int64
 3   InvoiceDate  488604 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 14.9+ MB

In [4]:
data_row.head()

   Quantity  UnitPrice  Customer ID          InvoiceDate
0        24       0.42         1488  1401-11-27 14:46:24
1        12       0.42         6420  1401-03-30 13:56:24
2         1       1.25        10992  1401-03-12 14:10:24
3        10       1.95         4670  1401-01-03 09:38:24
4         2       1.95        11600  1402-09-06 09:12:24

In [5]:
hejri_list = list()
for i in range(data_row.shape[0]):
    y = int(data_row["InvoiceDate"][i][0:4])
    m = int(data_row["InvoiceDate"][i][5:7])
    d = int(data_row["InvoiceDate"][i][8:10])
    
    hejri_date = jt.date(year= y, month= m, day= d).togregorian()
    hejri_list.append(hejri_date)

In [7]:
data_row["HejriDate"] = hejri_list
data_row.head()

   Quantity  UnitPrice  Customer ID          InvoiceDate   HejriDate
0        24       0.42         1488  1401-11-27 14:46:24  2023-02-16
1        12       0.42         6420  1401-03-30 13:56:24  2022-06-20
2         1       1.25        10992  1401-03-12 14:10:24  2022-06-02
3        10       1.95         4670  1401-01-03 09:38:24  2022-03-23
4         2       1.95        11600  1402-09-06 09:12:24  2023-11-27

In [14]:
data_row = data_row.drop(columns=["InvoiceDate"]).set_index("HejriDate")

In [18]:
data_row.index = pd.to_datetime(data_row.index)

In [19]:
data_row.index

DatetimeIndex(['2023-02-16', '2022-06-20', '2022-06-02', '2022-03-23',
               '2023-11-27', '2022-02-25', '2022-12-13', '2022-08-26',
               '2022-03-07', '2022-02-25',
               ...
               '2022-10-17', '2023-11-13', '2022-01-17', '2022-12-09',
               '2023-03-11', '2023-08-21', '2023-10-30', '2022-06-08',
               '2023-10-21', '2022-12-09'],
              dtype='datetime64[ns]', name='HejriDate', length=488604, freq=None)

In [34]:
cust4 = data_row[data_row["Customer ID"] == 4]

In [35]:
data_f = ( (cust4.resample('M').sum()).drop(columns = ["Customer ID"]) )

In [36]:
data_f.to_excel("Example.xlsx")

In [37]:
data_f

            Quantity  UnitPrice
HejriDate
2022-10-31       509      73.36
2022-11-30         0       0.00
2022-12-31       638     179.18
2023-01-31       315      73.17
2023-02-28         0       0.00
2023-03-31         0       0.00
2023-04-30       483      62.29
2023-05-31         0       0.00
2023-06-30       196      53.62
2023-07-31         0       0.00
2023-08-31       277      68.24
2023-09-30         0       0.00
2023-10-31       676     120.76
2023-11-30         0       0.00
2023-12-31       192      13.54